<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}} Weather</title>
    <link href="{{url_for("static", filename="styles/style.css")}}"
    rel="stylesheet">
  </head>
  <body>
    {% set main = weather_data['main'] %} {% set temp = main['temp'] %} {% set
    temp_max = main['temp_max'] %} {% set temp_min = main['temp_min'] %} {% set
    feels_like = main['feels_like'] %}

    <h1>{{title}} Weather</h1>
    <p>Temperature: {{temp}}°C</p>
    <p>Max Temperature: {{temp_max}}°C</p>
    <p>Min Temperature: {{temp_min}}°C</p>
    <p>Feels like: {{feels_like}}°C</p>

    <form action="/weather">
      <input
        type="text"
        name="city"
        id="city"
        placeholder="inserisci una citta"
      />
      <button type="submit">invia</button>
    </form>
  </body>
</html>
